<!DOCTYPE html>
    <html>
     <head>
      {% load staticfiles %}
<!link rel="stylesheet" type="text/css" href="{% static 'medicationApp/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'medicationApp/css/jquery-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'medicationApp/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'medicationApp/css/bootstrap-theme.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'medicationApp/css/bootstrap.css' %}" />

<script type="text/javascript" src="{% static 'medicationApp/js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'medicationApp/js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'medicationApp/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'medicationApp/js/bootstrap.min.js' %}"></script>
      <script src="http://sample-apps.smartplatforms.org/framework/smart/scripts/smart-api-client.js"></script>
     </head>
     <body><h1>Hello <span id="name"></span></h1>

     <ul id="med_list"></ul>

     <script>
       SMART.ready(function(){
         document.getElementById('name').innerHTML = SMART.record.full_name;
         SMART.get_photograph().success(function(meds) {
           console.log(meds);
           var med_names = meds.graph
             .where("?medication rdf:type sp:Medication")
             .where("?medication sp:drugName ?drug_name_code")
             .where("?drug_name_code dcterms:title ?drugname");
         }).error(function(err) { alert ("An error has occurred"); });
       });
     </script>

     <form action="MAILTO:mymeds@mit.edu" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name" value="God"><br>
E-mail:<br>
<input type="text" name="mail" value="mymeds@mit.edu"><br>
Comment:<br>
<input type="text" name="comment" value="hi" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>
     </body>
    </html>